---
---

@import "normalize";

html
{
	height: 100%;
	width: 100%;
}

body
{
	height: 100%;
	width: 100%;
	background: #222222 url('/images/background.jpg') center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header
{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;

	a#title
	{
		display: inline-block;
		font-family: 'Lato';
		font-size: 26pt;
		font-weight: 200;
		color: #FFFFFF;
		text-decoration: none;
		padding: 10px 16px 10px 16px;
		border: 0;
		margin-bottom: 20px;

		-webkit-transition: background-color .2s;
		-moz-transition: background-color .2s;
		-ms-transition: background-color .2s;
		-o-transition: background-color .2s;
		transition: background-color .2s;

		b
		{
			font-weight: 400;
		}
	}

	a#title:hover
	{
		background-color: #000000;
	}

	span#bio
	{
		font: 14pt 'Merriweather';
		font-weight: 300;
		font-style: italic;
		color: rgba(255, 255, 255, 0.6);

		b
		{
			font-weight: 400;
			color: #FFFFFF;
		}
	}

	nav
	{
		display: inline-block;
		margin-top: 20px;
		padding: 18px 22px 14px 22px;
		-webkit-transition: background-color .2s;
		-moz-transition: background-color .2s;
		-ms-transition: background-color .2s;
		-o-transition: background-color .2s;
		transition: background-color .2s;

		a,
		a:visited
		{
			font: 11pt 'Lato';
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 600;
			padding-bottom: 7px;
			color: #FFFFFF;
			border-bottom: 0px solid #FFFFFF;
			margin-right: 16px;

			-webkit-transition: border-bottom-width .1s, padding-bottom .1s;
			-moz-transition: border-bottom-width .1s, padding-bottom .1s;
			-ms-transition: border-bottom-width .1s, padding-bottom .1s;
			-o-transition: border-bottom-width .1s, padding-bottom .1s;
			transition: border-bottom-width .1s, padding-bottom .1s;
		}

		a:hover
		{
			padding-bottom: 4px;
			border-bottom-width: 3px;
		}

		a:last-child
		{
			margin-right: 0;
		}
	}

	nav:hover
	{
		background-color: #000000;
	}
}
