---
---

@import "normalize";

html, body
{
	height: 100%;
}

body
{
	background: #000000 none;
	z-index: -5;
}

header#top
{
	width: 100%;
	overflow: hidden;
	position: relative;
	padding-top: 50px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 50px;
	padding-right: 50px;
	max-width: 1200px;
	z-index: 10;

	a#title,
	a#title:visited
	{
		float: left;
		display: inline-block;
		font: 26pt 'Lato';
		font-weight: 300;
		color: #FFFFFF;
		text-decoration: none;
		background-color: rgba(0, 0, 0, 0.6);
		padding: 10px 20px 10px 20px;
		float: left;
		-webkit-transition: background-color .2s;
		-moz-transition: background-color .2s;
		-ms-transition: background-color .2s;
		-o-transition: background-color .2s;
		transition: background-color .2s;

		b
		{
			font-weight: 400;
		}
	}

	a#title:active,
	a#title:hover
	{
		background-color: #000000;
	}

	nav
	{
		float: right;
		display: inline-block;
		margin-top: 3px;
		padding: 16px 22px 12px 22px;
		clear: none;
		-webkit-transition: background-color .2s;
		-moz-transition: background-color .2s;
		-ms-transition: background-color .2s;
		-o-transition: background-color .2s;
		transition: background-color .2s;

		a,
		a:visited
		{
			display: inline-block;
			font: 11pt 'Lato';
			font-weight: 700;
			text-decoration: none;
			text-transform: uppercase;
			color: #FFFFFF;
			border-bottom: 0px solid #FFFFFF;
			padding-bottom: 7px;
			padding-top: 3px;
			margin-right: 20px;
			-webkit-transition: border-bottom-width .1s, padding-bottom .1s;
			-moz-transition: border-bottom-width .1s, padding-bottom .1s;
			-ms-transition: border-bottom-width .1s, padding-bottom .1s;
			-o-transition: border-bottom-width .1s, padding-bottom .1s;
			transition: border-bottom-width .1s, padding-bottom .1s;
		}

		a:last-child
		{
			margin-right: 0;
		}

		a:hover
		{
			padding-bottom: 4px;
			border-bottom-width: 3px;
		}
	}

	nav:hover
	{
		background-color: #000000;
	}
}

#posts
{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	z-index: 5;

	article
	{
		position: relative;
		background-image: url('/images/background.jpg');
		background-position: center center;
		/*background-attachment: fixed;*/
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		text-align: center;

		a,
		a:visited
		{
			display: block;
			text-decoration: none;
			color: #FFFFFF;
			padding-top: 80px;
			padding-bottom: 80px;
			background-color: rgba(0, 0, 0, 0);
			-webkit-transition: background-color .2s;
			-moz-transition: background-color .2s;
			-ms-transition: background-color .2s;
			-o-transition: background-color .2s;
			transition: background-color .2s;
			box-shadow: inset 0px 0px 100px rgba(0, 0, 0, 0.35);

			.wrapper
			{
				margin-left: auto;
				margin-right: auto;
				max-width: 1200px;
				padding-left: 50px;
				padding-right: 50px;

				h1
				{
					font-family: 'Source Sans Pro';
					font-weight: 400;
					font-size: 36pt;
					margin-bottom: 5px;
				}

				time
				{
					display: block;
					font: 14pt 'Merriweather';
					font-style: italic;
					opacity: 0.75;
				}
			}
		}

		a:active,
		a:hover
		{
			background-color: rgba(0, 0, 0, 0.15);
		}
	}

	article:first-child
	{
		a
		{
			padding-top: 175px;
		}
	}

	article:only-of-type
	{
		height: 100%;
		max-height: 1280px;

		a
		{
			height: 100%;
		}
	}
}

#posts.with-pagination article:last-of-type a
{
	padding-bottom: 230px;
}

#pagination
{
	position: relative;
	height: 150px;
	width: 100%;
	z-index: 10;
	margin-top: -150px;

	.wrapper
	{
		margin-left: auto;
		margin-right: auto;
		max-width: 1200px;
		padding-left: 50px;
			padding-right: 50px;

		a,
		a:visited
		{
			display: inline-block;
			text-decoration: none;
			padding: 20px 80px 20px 80px;
			text-align: center;
			background-color: #000000;
			opacity: 0.4;
			-webkit-transition: opacity .2s, background-color .2s;
			-moz-transition: opacity .2s, background-color .2s;
			-ms-transition: opacity .2s, background-color .2s;
			-o-transition: opacity .2s, background-color .2s;
			transition: opacity .2s, background-color .2s;

			img
			{
				height: 40px;
				width: auto;
				
				filter: invert(100%);
				-webkit-filter: invert(100%);
				-moz-filter: invert(100%);
				vertical-align: middle;
			}
		}

		a:active,
		a:hover
		{
			opacity: 1;
		}

		a#prev
		{
			float: left;

			img
			{
				-moz-transform: scaleX(-1);
				-o-transform: scaleX(-1);
				-webkit-transform: scaleX(-1);
				transform: scaleX(-1);
				filter: FlipH;
				-ms-filter: "FlipH";
			}
		}

		a#next
		{
			float: right;
		}
	}
}

@media only screen and (max-width: 680px)
{
	header#top
	{
		padding-top: 5%;
		margin-bottom: 5%;
		padding-left: 5%;
		padding-right: 5%;
	}

	#posts
	{
		article
		{
			a,
			a:visited
			{
				padding-top: 8%;
				padding-bottom: 8%;

				.wrapper
				{
					padding-left: 5%;
					padding-right: 5%;

					h1
					{
						font-size: 28pt;
					}
				}
			}
		}

		article:first-child
		{
			a
			{
				padding-top: 18%;
			}
		}
	}
}

@media only screen and (max-width: 610px)
{
	header#top
	{
		padding-top: 3%;
		margin-bottom: 3%;
		padding-left: 3%;
		padding-right: 3%;
		text-align: center;

		a#title
		{
			float: none;
		}

		nav
		{
			float: none;
			margin-top: 20px;
		}
	}

	#posts
	{
		article
		{
			a,
			a:visited
			{
				padding-top: 5%;
				padding-bottom: 5%;

				.wrapper
				{
					padding-left: 3%;
					padding-right: 3%;

					h1
					{
						font-size: 28pt;
					}

					time
					{
						font-size: 12pt;
					}
				}
			}
		}

		article:first-child
		{
			a
			{
				padding-top: 25%;
			}
		}
	}
}

@media only screen and (max-width: 425px)
{
	#posts article:first-child
	{
		a
		{
			padding-top: 40%;
		}
	}
}