<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.name }}</title>
		{% include meta.html %}
		<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml" />
	</head>
	<body>
		<header id="landing">
			<img src="img/profile.jpg" />
			<h1>{{ site.name }}</h1>
			<p>{{ site.bio }}</p>
			<nav>
				{% for link in site.links %}
				<a href="{{ link.url }}">{{ link.name }}</a>
				{% endfor %}
			</nav>
		</header>
		<main>
			{{ content }}
		</main>
		<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
	</body>
</html>
