<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		{% include meta.html %}
	</head>
	<body>
		<header{% if page.image %} style="background-image:url('/img/content/bg/{{ page.image }}')"{% endif %}>
			<h1><a href="/">{{ site.name }}</a></h1>
			<nav>
				{% for link in site.links %}
				<a href="{{ link.url }}">{{ link.name }}</a>
				{% endfor %}
			</nav>
		</header>
		<main>
			<h2>{{ page.title }}</h2>
			{{ content }}
		</main>
		<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
	</body>
</html>
