<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		{% include meta.html %}
	</head>
	<body>
		{% assign slug = page.title | slugify %}
		{% if page.categories[0] %}
			{% capture img_dir %}/img/content/{{ page.categories[0] }}/{{ slug }}{% endcapture %}
		{% else %}
			{% capture img_dir %}/img/content/{{ slug }}{% endcapture %}
		{% endif %}
		{% capture bg_path %}{{ img_dir }}/bg.jpg{% endcapture %}
		{% if page.bg %}
		<style type="text/css">
			header:before {
				background-image: url({{ img_dir }}/{{ page.bg }}) !important
			}
		</style>
		{% endif %}
		<header>
			<h1><a href="/">{{ site.name }}</a></h1>
			<nav>
				{% for link in site.links %}
				<a href="{{ link.url }}">{{ link.name }}</a>
				{% endfor %}
			</nav>
		</header>
		<main>
			<h1>{{ page.title }}</h1>
			{% assign pieces = content | split: '<img src="' %}
			{% for piece in pieces %}
				{% if forloop.first == true %}
					{{ piece }}
				{% else %}
					<img src="{{img_dir}}/{{piece}}
				{%- endif -%}
			{%- endfor -%}
		</main>
		<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
	</body>
</html>
