<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ page.title }}</title>
		{% include meta.html %}
	</head>
	<body>
		{% if page.bg %}
		{% capture img_dir %}/img/content/{% if page.categories[0] %}{{ page.categories[0] }}/{% endif %}{% if page.slug %}{{ page.slug }}/{% endif %}{% endcapture %}
		<style type="text/css">
			header {
				background-image: url({{ img_dir }}{{ page.bg }}) !important
			}
		</style>
		{% endif %}
		<header>
			<h1><a href="/">{{ site.name }}</a></h1>
			<nav>
				{% for link in site.links %}
				<a href="{{ link.url }}">{{ link.name }}</a>
				{% endfor %}
			</nav>
		</header>
		<main>
			{% if page.categories[0] %}
			{% assign project_page = site.projects | where:"slug",page.categories[0] %}
			{% assign project_page = project_page[0] %}
			<span class="project-link"><a href="{{ project_page.url }}">{{ project_page.title }}</a></span>
			{% endif %}
			<h1>{{ page.title }}</h1>
			{% include convert_img_urls.html content=content %}
		</main>
		<footer>&copy; Ian Glen - <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA</a> unless specified</footer>
		<link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
	</body>
</html>
