html, body
{
	font-family: 'Asap', sans-serif;
	font-size: 12pt;
	color: #444444;
	line-height: 1.75;
	margin: 0;
	padding: 0;
	text-align: justify;
}

h1, h2, h3
{
	max-width: 40rem;
	line-height: 1.2;
	font-weight: normal;
	margin: 2rem auto;
	padding: 0 2rem;
	text-align: left;
}

h1
{
	font-size: 400%;
	margin-top: 0;
}

h2
{
	font-size: 200%;
}

h3
{
	font-size: 150%;
}

p
{
	max-width: 40rem;
	padding: 0 2rem;
	margin: 1rem auto;
}

a:link, a:visited
{
	color: #444444;
	text-decoration: none;
	border-bottom: 2px solid #CCCCCC;
}

a:hover, a:active
{
	color: #000000;
	border-bottom-color: #000000;
}

code
{
	font-size: 90%;
	background-color: #EEEEEE;
	display: inline-block;
	padding: 0 0.5rem;
}

time
{
	display: block;
	max-width: 40rem;
	padding: 0 2rem;
	margin: 0 auto;
	color: #AAAAAA;
}

header
{
	background: #000000 url('http://ianglen.me/images/background.jpg');
	background-size: cover;
	padding: 8rem 0;
	color: #FFFFFF;
	text-align: center;
	margin-bottom: 4rem;
}

header h1
{
	text-align: center;
}

header a:link, header a:visited
{
	color: #CCCCCC;
	border-bottom-color: #AAAAAA;
}

header a:hover, header a:active
{
	color: #FFFFFF;
	border-bottom-color: #FFFFFF;
}

nav
{
	text-align: center;
	max-width: 40rem;
	padding: 0 2rem;
	margin: 1rem auto;
}

nav a
{
	margin-right: 3%;
}

nav a:last-child
{
	margin-right: 0;
}

footer
{
	text-align: center;
	color: #AAAAAA;
	padding: 2rem 0;
}

.post
{
	margin-bottom: 2rem;
}

.post h3
{
	margin: 0.5rem auto;
}